/* woah, this font is neato */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    font-family: 'Fira Code';
}

.theme-default-content .content__default {
    margin: 0;
}

.theme-default-content:not(.custom) {
    max-width: unset;
}

/*
.contains-task-list li {
  list-style-type: none;
}
*/
